<!doctype html>
<html lang="en">
<head>
<title><%= @title || "ERROR!" %></title>
  <meta charset="utf-8">
  <style>
    body {
      background-color: red;
    }
  </style>
</head>
<body>
  <header>
    <h1>WHERE THE HELL YOU THINK YOU'RE GOING?</h1>
  </header>
  <section>
    <%= yield %>
  </section>
</body>
</html>
